
    
    
 <div data-ng-include="'tpl/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper"> </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <!-- BEGIN STYLE CUSTOMIZER(optional) -->
                    <div data-ng-include="'tpl/theme-panel.html'" data-ng-controller="ThemePanelController" class="theme-panel hidden-xs hidden-sm"> </div>
                    <!-- END STYLE CUSTOMIZER -->
                    <!-- BEGIN ACTUAL CONTENT -->
                    <div ui-view class="fade-in-up">
                    




<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Stock</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/form-tools">Add product</a>
            <i class="fa fa-circle"></i>
        </li>
       
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true"> Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-user"></i> New User </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-present"></i> New Event
                        <span class="badge badge-success">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-basket"></i> New order </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-flag"></i> Pending Orders
                        <span class="badge badge-danger">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-users"></i> Pending Users
                        <span class="badge badge-warning">12</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3 class="page-title">
    
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->


<div class="row" ng-controller="addproduct">
     
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">Add Product</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-pencil"></i> Edit </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-trash-o"></i> Delete </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-ban"></i> Ban </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;"> Make admin </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                         <form name="myForm">

            <div class="portlet-body form">
                <form role="form">
                    <div class="form-body">
                         <div class="form-group">
                            <label>name</label>
                            <div class="input-group">
                              
                                <input ng-model="product.name" type="text" class="form-control input-circle-right" placeholder="name" name="user" required>
                                <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                                            <span ng-show="myForm.user.$error.required">Name is required.</span>
                                            </span>
                                 </div>
                        </div>
                         <div class="form-group">
                            <label>type</label>
                            <div class="input-group">
                              
                                <input ng-model="product.type" type="text" class="form-control input-circle-right" placeholder="type" required name="type">
                                <span style="color:red" ng-show="myForm.type.$dirty && myForm.type.$invalid">
                                            <span ng-show="myForm.type.$error.required">Type is required.</span>
                                            </span>
                                 </div>
                        </div>
                        
                        <div class="form-group">
                            <label>quantity</label>
                            <div class="input-group">
                              
                                <input ng-model="product.quantity" type="number" class="form-control input-circle-right" placeholder="quantity" name="quantity" required> 
                                 <span style="color:red" ng-show="myForm.quantity.$dirty && myForm.quantity.$invalid">
                                            <span ng-show="myForm.quantity.$error.required">Quantity is required.</span>
                                            </span>
                                </div>
                        </div>
                         <div class="form-group">
                            <label>unitPrice</label>
                            <div class="input-group">
                              
                                <input  ng-model="product.unitPrice" type="number" class="form-control input-circle-right" placeholder="unitPrice" required name="priceuni"> 
                                <span style="color:red" ng-show="myForm.priceuni.$dirty && myForm.priceuni.$invalid">
                                            <span ng-show="myForm.priceuni.$error.required">UnitPrice is required.</span>
                                            </span>
                                </div>
                        </div> 
                        <div class="form-group">
                            <label>totalPrice</label>
                            <div class="input-group">
                              
                                <input ng-model="product.totalPrice=product.quantity * product.unitPrice" type="text" class="form-control input-circle-right"  placeholder="totalPrice" disabled required name="totalPrice">
                                <span style="color:red" ng-show="myForm.totalPrice.$dirty && myForm.totalPrice.$invalid">
                                            <span ng-show="myForm.totalPrice.$error.required">totalPrice is required.</span></span>
                                 </div>
                        </div>
                         <div class="form-group">
                            <label>packPrice</label>
                            <div class="input-group">
                              
                                <input ng-model="product.packPrice=(product.totalPrice/100)*80" type="text" class="form-control input-circle-right" placeholder="packPrice" required disabled name="packPrice"> 
                                 <span style="color:red" ng-show="myForm.packPrice.$dirty && myForm.packPrice.$invalid">
                                            <span ng-show="myForm.packPrice.$error.required">packPrice is required.</span></span>
                                </div>
                        </div>
                        <div class="form-group">
                            <label>Stock</label>
                            <select class="form-control" ng-model="product.tag">
                                <option value="175f0e3b">Stock 1</option>
                                <option value="b61e7941">Stock 2</option>
                                
                            </select>
                             </div>
                            <div class="form-group">
                            <label>idealhumidity</label>
                            <div class="input-group">
                              
                                <input ng-model="product.idealhumidity" type="Number" class="form-control input-circle-right" placeholder="idealhumidity" required name="idealhumidity">
                                <span style="color:red" ng-show="myForm.idealhumidity.$dirty && myForm.idealhumidity.$invalid">
                                            <span ng-show="myForm.idealhumidity.$error.required">idealhumidity is required.</span></span>
                                 </div>
                        </div>
                         <div class="form-group">
                            <label>idealtemperature</label>
                            <div class="input-group">
                              
                                <input  ng-model="product.idealtemperature" type="Number" class="form-control input-circle-right" placeholder="idealtemperature" required name="idealtemperature"> 
                                <span style="color:red" ng-show="myForm.idealtemperature.$dirty && myForm.idealtemperature.$invalid">
                                            <span ng-show="myForm.idealtemperature.$error.required">idealtemperature is required.</span></span>
                                </div>
                        </div> 
                       
                       
                 
                        
                        
                    </div>
                    <div class="form-actions">
                       <a href="#/datatables/managed.html">  <button type="submit" ng-disabled=" product.type==null || product.unitPrice==null ||product.idealtemperature==null || product.idealhumidity==null || product.tag==null" class="btn blue" ng-click="addProduct()">Submit</button></a>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
                         </form>
        </div>
  
    </div>

<!-- END MAIN CONTENT -->
<script>
    ComponentsFormTools.init(); // init todo page
</script>
                    </div>
                    <!-- END ACTUAL CONTENT -->
                </div>
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
            <div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
            <!-- END QUICK SIDEBAR -->
        </div>



